<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head', { pageTitle }); %>

<body>

<%- include('./parts/header'); %>
<section class="container pl-3 pr-3 pt-3 pb-6">
  <%- include('./parts/breadcrumbs'); %>
  <header>
    <h1 class="is-size-1"><%= pageTitle %></h1>
  </header>