<header class="has-background-info-dark p-3">
  <% if (currentRoute === '/') { %>
  <p class="is-size-3 has-text-white">BookStore</p>
  <% } else { %>
  <a href="/">
    <p class="is-size-3 has-text-white">BookStore</p>
  </a>
  <% } %>
</header>