<%- include('../templates/open'); %>

<p class="mb-6">This is your profile page</p>
<form action="/user/logout" method="POST">
  <button type="submit" class="button">
    <strong>Log out</strong>
  </button>
</form>

<%- include('../templates/close'); %>
